.left{
    background-color: floralwhite;
    margin-left: -1%;
    padding: 10%;
    padding-left: 19%;
    height: 70%;
    width: 43%;
    /* margin-top: 1%; */
    padding-top: 10%;
    overflow: scroll;
}
.right{
    background-color: floralwhite;
    margin-right: 10%;
    padding: 10%;
    height: 70%;
    width: 10%;
    margin-left: 71%;
    margin-top: -53%;
   }
   

#sc{
    margin-top: -20%;
    color: darkblue;
    font-family: -webkit-pictograph;
    font-size: 400%;
	
}
.but{
	
	padding-left: 19%;
    padding-top: 5%;
}
#crt{
	
	font-size: 300%;
    font-family: -webkit-pictograph;
    color: darkblue;
}